{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-order",
    "stylelint-scss",
  ],
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "custom-property-empty-line-before": "always",
    "declaration-no-important": true,
    "indentation": 2,
    "max-empty-lines": 2,
    "scss/selector-no-redundant-nesting-selector": true,
  },
}
