$background-color: #F1F3FA;
$color-background-green: #B96D40;
$highlight-color: #5A7391;
$border-color-light: #F0F4F7;
$color-orange: #cf8a05;
$color-gray: #555;
$color-black: #333;

$space: 1rem;
$space-s: 0.5rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$space-xxl: 3rem;

$font-size-ml: 110%;
$font-size-l: 130%;
$font-size-xl: 140%;
$font-size-xxl: 180%;

$color-theme-white: #F8F8F7;
$color-theme-orange: #E69D50;
$color-theme-gray: #99A2A2;
$color-theme-gray-light: #DCDCDC;
$color-theme-red: #AF4C55;
$color-theme-lila: #3C4666;
$color-theme-lila-accent: #9C27B0;

$color-girl-party-pink: #FF0066;
$color-girl-party-yellow: #FFEB00;
$color-girl-party-orange: #FF663F;
$color-girl-party-green: #00DC6E;

$color-rainbow-green: #459E42;
$color-rainbow-orange: #F97C39;
$color-rainbow-yellow: #F7C931;
$color-rainbow-white: #FAFAFD;
$color-rainbow-lila: #E52D98;
$color-rainbow-red:  #BA2766;
$color-background-blue: #1F98C6;

$breakpoint-small: 576px;
