$breakpoint-small: 576px !default; // mobile devices
$breakpoint-medium: 768px !default;
$breakpoint-large: 992px !default; // tablet devices
$breakpoint-xl: 1200px !default; // desktop

@mixin media-breakpoint-small {
  @media only screen and (max-width: $breakpoint-small) {
      @content;
  }
}

@mixin media-breakpoint-medium {
  @media only screen and (max-width: $breakpoint-medium) {
      @content;
  }
}

@mixin media-breakpoint-not-small {
  @media only screen and (min-width: $breakpoint-medium) {
      @content;
  }
}
