$background-color: #F1F3FA !default;
$color-background-green: #B96D40 !default;
$highlight-color: #5A7391 !default;
$border-color-light: #F0F4F7;
$color-orange: #CF8A05;
$color-gray: #555;
$color-black: #333;
$color-white: white;
$color-gray-darkest: #222;

$color-header-foreground: #F1F3FA;
$color-header-background: #3C3F50;

$space: 1rem;
$space-s: 0.5rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$space-xxl: 3rem;

$font-size-s: 80%;
$font-size-ml: 110%;
$font-size-l: 130%;
$font-size-xl: 140%;
$font-size-xxl: 180%;

$font-size-base:              1rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-family:        inherit !default;
$headings-font-weight:        400 !default;
$headings-line-height:        1.2 !default;
$headings-margin-bottom:      2rem;
$headings-color:              inherit !default;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$color-theme-white: #F8F8F7;
$color-theme-orange: #E69D50;
$color-theme-gray: #99A2A2;
$color-theme-gray-light: gainsboro;
$color-theme-red: #AF4C55;
$color-theme-lila: #3C4666;
$color-theme-lila-accent: #9C27B0;

$color-girl-party-pink: #FF0066;
$color-girl-party-yellow: #FFEB00;
$color-girl-party-orange: #FF663F;
$color-girl-party-green: #00DC6E;

$color-rainbow-green: #459E42;
$color-rainbow-orange: #F97C39;
$color-rainbow-yellow: #F7C931;
$color-rainbow-white: #FAFAFD;
$color-rainbow-lila: #E52D98;
$color-rainbow-red:  #BA2766;
$color-rainbow-blue: #1F98C6;
$color-background-blue: #1F98C6;

$code-font-size: 87.5% !default;
